# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
# osx noise
.DS_Store
profile

## Various settings
!default.pbxuser
# xcode noise
build/
build/*
/build/*
app/build/*
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.pbxuser
*.xccheckout
DerivedData/

## Other
*.moved-aside
*.xcuserstate
# Box build artifacts
buildArtifacts

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
# Box localization files
/output/*

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
# Pods directories
BoxContentSDK/Pods
BoxContentSDKSampleApp/Pods

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
#Carthage Checkout
Carthage/
BOXContentSDKSampleApp/Carthage/
